body {
    background-color: #fff;
     
}

.bannerc {
    background-image: url("../img/2.jpg ");
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
	background-attachment: fixed;
}
.banner img {
	margin-top: 8%;
	margin-left: 40%;
	bottom: 160px;
    border-radius: 50%;
	border: solid 10px rgba(255,255,255,0.5);
	width: 20%;
}
.banner h1 {
	font-size: 50px;
    text-align: center;  
    margin: auto;
	
	color: #fff;
}
.banner .arrow .fa {
	font-size: 70px;
	color: #fff;
}
.imagec {
	background-image: url("../img/30.jpg");
	text-align: center;
}   
.image img {
	border-radius: 50%;
}
.nav {
    width: 100%;
    height: 100px;
    
    background-color: #fff;
    text-align: right;
}
.nav h2 {
    font-family: Garamond,Times,Serif;
    float: left;
	color: #000;
    font-size: 5em;
    margin: 20px;
}
.nav li {
	font-weight: bold;
	color:#000;
    font: left;
    font-size: 20px;
    padding: 5px;
    display: inline;
    list-style-type: none;
    margin-right: 5px;
}
.nav a {
	color: #000;
	text-decoration: none;
	
} 
.aboutc {
	background-image: url("../img/6.jpg");
	background-attachment: fixed;
	padding: 10px 0px 0px 0px;
	
}
.about {
	width: 75%;
	margin: auto;
    font-family: Spirax,Times,Serif;
    color:#fff;
    padding: 10px 0px 10px 0px;
    font-size: 25px;
    line-height: 2.0em;
    word-spacing: 0.30;  
    
    letter-spacing: 1.5;
    font-weight: bold;
	
}
 a:link, a:visited{
	color: #686868;
    text-decoration: none;	
}
.about h1 {
	
	text-align: center;
    color: #ef0414;
    font-family: broadway,times,serif;
    font-size: 60px;
	
} 
.skillc { 
     background-image: url("../img/4.jpg");
	 padding: 10px 0px 10px 0px;
}
.skills {
	
	margin:auto;
	width:75%;
}
.skills h1 {
    
    color: #ef0414;
    font-family: broadway,times,serif;
    font-size: 60px;

}
.skills ol li {
  
    color:#fff;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
	margin: auto;
}
.qualificationc {
     background-image: url("../img/b.jpg ");
	padding: 10px 0px 10px 0px;
	
	
}
.qualification h2 {
	color:#fff;
	font-size: 30px;
}
.qualification h3 {
    font-size:60px;
    font-family:broadway,times,serif;
    color: #e51923;
	
}   
 .qualification h4 {
    font-size: 45px;
    font-family: blackadder ITC;
    color: #fff;
}  
.qualification table {
    font-size:25px;
    color: #fff;
    width: 900px;
    height: 300px;
	border-radius: 30%;
    border-color: #fff;
}
.qualification img {
	border-radius: 50%;
}
.thoughtc {
	background-image: url("../img/light.jpg");
	width: 100%;
    background-attachment: fixed;
}
.thought h1 {
	font-size:60px;
    font-family:broadway,times,serif;
    color: #e51923;
}
.thought h2 {
	font-size: 30px;
	color:#000;
} 
.projectc {
	background-color: Cyan;
}
.project img {
	border-radius: 50%
}
.project h1 {
	font-size:60px;
    font-family:broadway,times,serif;
    color: #e51923;
}
.project h2 {
	font-size: 30px;
	color:#000;
}
#map {
        height: 400px;
        width: 100%;
}
.location h3 {
    font-size:60px;
    font-family:broadway,times,serif;
    color: #e51923;
}
.iconc {
	background-image: url("../img/31.jpg");
	padding: 10px 0px 10px 0px;
	background-attachment: fixed;
}
.icon a {
    color:#32a8f2;
	text-align: center;
	
}
.icon h5,h2 {
    color:#fff;
	font-size: 35px;
	text-align: center;
}
.icon h4 {
	color: #fff;
	font-size: 20px;
	text-align: center;
}
.mail {
	color:#32a8f2;
	text-align: center;
	padding-left: 50px;

}
.footerc {
	background-color: gray;
	padding: 10px 0px 10px 0px;
}
.footer h1 {
    font-size: 50px;
    font-family: bradley hand ITC;
    color: black;
    text-align: center; 
	font-weight: bold;
}
.footer h2 {
	color:#000;
	font-size: 30px;
}